@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variables';

.ballot {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: $default;
  background-color: $primary;
  padding: 4rem;
  min-height: 100vh;

  .title {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  hr {
    border-color: $primary-light;
  }

  .content {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 4rem;
    }
  }

  .category {
    position: relative;
    box-shadow: 0 0 3px 0 $primary-light;
    text-align: center;
    padding: 1rem;
    
    &-container {
      width: 100%;
    }

    &+.category {
      margin-top: 3rem;
    }

    &:hover, &.active {
      cursor: pointer;
      box-shadow: 0 0 3px 3px $accent-light;
      color: $accent;
    }

  }

  .nominee {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $primary-light;
    border-radius: .5rem;
    padding: 1rem;
    width: 18%;
    margin-bottom: 2%;

    &:hover, &.active {
      background-color: $accent;
      color: $primary-light;
    }

    &-title {
      text-align: center;
      margin-bottom: 1rem;
    }
    
    &-image {
      width: 10rem;
      height: 15rem;
      object-fit: contain;
      margin-bottom: 1rem;
    }

    &-container {
      max-height: 0;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      transition: all .3s;
      margin-bottom: 2rem;

      &.show {
        padding: 2rem 0;
        max-height: 30rem;
        overflow: auto;
        transition: all .3s;
      }
    }
  }

  .btn {
    background-color: $accent-light;
    border: 1px solid $primary;
    border-radius: .5rem;
    padding: .75rem 1rem;
    color: $default;
    cursor: pointer;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;

    &-content {
      position: relative;
      background: $primary-light;
      color: black;
      padding: 1rem;
      width: 50%;
      max-width: 650px;
      border-radius: .25rem;
  
      &_close {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-weight: bold;
        font-size: 1.2rem;
      }
  
      &_title {
        margin-bottom: 2rem;
      }
    }
  }
}